[submodule "deps/Desktop-CNC-Enclosure-Sub-Assembly"]
	path = deps/Desktop-CNC-Enclosure-Sub-Assembly
	url = git@github.com:Desktop-CNC/Desktop-CNC-Enclosure-Sub-Assembly.git
[submodule "deps/Desktop-CNC-Frame-Sub-Assembly"]
	path = deps/Desktop-CNC-Frame-Sub-Assembly
	url = git@github.com:Desktop-CNC/Desktop-CNC-Frame-Sub-Assembly.git
[submodule "deps/Desktop-CNC-Head-Sub-Assembly"]
	path = deps/Desktop-CNC-Head-Sub-Assembly
	url = git@github.com:Desktop-CNC/Desktop-CNC-Head-Sub-Assembly.git
