[submodule "dep/Desktop-CNC-Frame-Sub-Assembly"]
	path = dep/Desktop-CNC-Frame-Sub-Assembly
	url = git@github.com:Desktop-CNC/Desktop-CNC-Frame-Sub-Assembly.git
[submodule "dep/Standard-CAD-Library"]
	path = dep/Standard-CAD-Library
	url = git@github.com:Desktop-CNC/Standard-CAD-Library.git
[submodule "dep/Desktop-CNC-Working-Area-Sub-Assembly"]
	path = dep/Desktop-CNC-Working-Area-Sub-Assembly
	url = git@github.com:Desktop-CNC/Desktop-CNC-Working-Area-Sub-Assembly.git
[submodule "dep/Desktop-CNC-Head-Sub-Assembly"]
	path = dep/Desktop-CNC-Head-Sub-Assembly
	url = git@github.com:Desktop-CNC/Desktop-CNC-Head-Sub-Assembly.git
